name: build our image for a tagged version

on:
  push:
    tags:
      - v*

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: install buildx
        id: buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
          qemu-version: latest
      - name: Prepare
        id: prepare
        run: |
          VERSION=${GITHUB_REF#refs/tags/v}
          echo ::set-output name=version::${VERSION}
      - name: login to docker hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
      - name: build the image
        run: |
          docker buildx build --push \
            --tag "mhzawadi/invoiceplane:${{ steps.prepare.outputs.version }}" \
            --platform linux/amd64,linux/arm/v7,linux/arm64 .
